<link rel="stylesheet" href="/css/component/header.css" />

<section class="header px py-small">
    <img loading="lazy" src="/assets/svg/logo/logo-pro.svg" class="logo logo-line" alt="">
    <img loading="lazy" src="/assets/svg/logo/logo-pro-dark.svg" class=" logo logo-dark" alt="">
    <div id="header-menu" class="menu">
        <p>
            <span>Menu</span>
        </p>
        <img class="menu-icon" src="/assets/svg/menu-icon.svg" alt="">
    </div>

    <!-- Drawer menu -->
    <div class="header-drawer">
        <div class="header-drawer__overlay"></div>
        <div class="header-drawer__panel">
            <button class="header-drawer__close">&times;</button>
            <ul class="header-menu">
                <li><a href="/pages/about.html">ABOUT</a></li>
                <li><a href="/pages/gallery.html">GALLERY</a></li>
                <li><a href="/pages/experience.html">EXPERIENCES</a></li>
                <li><a href="/pages/contact.html">CONTACT US</a></li>
            </ul>
        </div>
    </div>
</section>

<script src="/js/plugins/base-path.js"></script>
<script src="/js/components/header.js"></script>