.slide-projects {
  position: relative;
  height: auto;
  min-height: 400px;
  width: 100%;
  max-width: var(--max-width-page);
  margin: 0 auto;
  overflow: hidden;
  padding: 80px 70px;
  box-sizing: border-box;
}

.slide-projects .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  background-color: blue;
}

.slide-projects .background::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.slide-projects .title {
  font-size: var(--font-size-45);
  z-index: 10;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: relative;
  /* BẮT BUỘC để z-index có hiệu lực */
  margin-top: 20px;
  /* hoặc dùng padding */
}


.slide-projects .view-more {
  text-align: center;
  position: relative;
  z-index: 10;
  position: relative;
  margin-top: 60px;
}

.swiper.swiper-projects {
  width: 100%;
  height: 36vw;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: var(--border-radius);
  margin-top: 80px;
}

.swiper-slide {
   aspect-ratio: 522 / 690;
  height: auto;
  overflow: hidden;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

/* Mobile */
@media (max-width: 768px) {
  .slide-projects {
    padding: 20px 10px;
  }

  .swiper.swiper-projects {
    height: 300px;
    margin-top: 40px;
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    width: 200px;
  }

  .slide-projects .view-more {
    margin-top: 40px;
  }
}
