@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}


.font-style-montserrat {
  font-family: 'Montserrat', sans-serif;
}


img {
  pointer-events: none;
  -webkit-user-drag: none;
  user-select: none;
}


body {
  background: #f9f9f9;
  min-height: 200vh;
  overflow-x: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none;
}

* {
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;       
}


.space {
  height: 90vh;
}

.font-bold {
 font-weight: bold;
}

.font-thin {
 font-weight: thin;
}


.px {
  padding-left: 50px;
  padding-right: 50px;
}

.py {
  padding-top: 30px;
  padding-bottom: 30px;
}

