@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}


.font-style-montserrat {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #f9f9f9;
  min-height: 200vh;
  overflow-x: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none;
}

* {
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;       
}


.space {
  height: 40px;
  width: 100%;
}

.font-bold {
 font-weight: bold;
}

.font-thin {
 font-weight: 300;
}


.px {
  padding-left: 50px;
  padding-right: 50px;
}

.py {
  padding-top: 40px;
  padding-bottom: 40px;
}


.kit-button-outline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 68px;
  padding: 0 32px;               /* padding ngang đều */
  font-size: 23px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 9999px;          /* bo tròn hoàn toàn */
  text-decoration: none;
  transition: all 0.3s ease;
  white-space: nowrap;

}

.kit-button-outline:hover {
  background-color: #fff !important;
  color: #000;
}

.aline-x {
    padding-left: 70px;
    padding-right: 70px;
}

.aline-y {
    padding-top: 20px;
    padding-bottom: 20px;
}
