<link rel="stylesheet" href="/css/plugins/swiper.css" />
<link rel="stylesheet" href="/css/component/slide-project.css" />


<section class="slide-projects">
  <div class="background" id="slideBackground"></div>

  <div class="title font-style-montserrat">
    <p><span class="italic">Orther</span> projects</p>
  </div>
  <div class="swiper swiper-projects">
    <div class="swiper-wrapper">

      <div class="swiper-slide" data-index="0"><img src="/assets/images/slide/1.jpg" /></div>
      <div class="swiper-slide" data-index="1"><img src="/assets/images/slide/3.jpg" /></div>
      <div class="swiper-slide" data-index="2"><img src="/assets/images/slide/2.jpg" /></div>
      <div class="swiper-slide" data-index="3"><img src="/assets/images/slide/5.jpg" /></div>
      <div class="swiper-slide" data-index="4"><img src="/assets/images/slide/6.jpg" /></div>
      <div class="swiper-slide" data-index="5"><img src="/assets/images/slide/4.jpg" /></div>
    </div>
  </div>
  <div class="view-more">
    <a href="../../pages/gallery.html" class=" kit-button-outline view-more-button button">Explore Gallery</a>
  </div>
</section>


<!-- slide-project -->
<script src="/js/plugins/swiper/index.js"></script>
<script src="/js/plugins/base-path.js"></script>
<script src="/js/components/slide-project.js"></script>