<link rel="stylesheet" href="/css/plugins/swiper.css" />
<link rel="stylesheet" href="/css/component/slide-project.css" />


<section class="slide-projects">
  <div class="background" id="slideBackground"></div>

  <div class="title font-style-montserrat">
    <p><span class="italic">Orther</span> projects</p>
  </div>
  <div class="swiper swiper-projects">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-index="0"><img src="/assets/images/test/2.jpg" /></div>
      <div class="swiper-slide" data-index="1"><img src="/assets/images/test/2.jpg" /></div>
      <div class="swiper-slide" data-index="2"><img src="/assets/images/test/2.jpg" /></div>
      <div class="swiper-slide" data-index="3"><img src="/assets/images/test/2.jpg" /></div>
      <div class="swiper-slide" data-index="5"><img src="/assets/images/test/2.jpg" /></div>
      <div class="swiper-slide" data-index="6"><img src="/assets/images/test/2.jpg" /></div>

      <!-- <div class="swiper-slide" data-index="0"><img loading="lazy" src="/assets/images/ana-mandara/5.webp" /></div>
      <div class="swiper-slide" data-index="1"><img loading="lazy" src="/assets/images/binh-an/1.webp" /></div>
      <div class="swiper-slide" data-index="2"><img loading="lazy"
          src="/assets/images/four-seasons-resort-the-nam-hai/1.webp" /></div>
      <div class="swiper-slide" data-index="3"><img loading="lazy"
          src="/assets/images/marriott-renaissance-hoi-an/1.webp" /></div>
      <div class="swiper-slide" data-index="4"><img loading="lazy" src="/assets/images/mercure-hotel/1.webp" /></div>
      <div class="swiper-slide" data-index="5"><img loading="lazy" src="/assets/images/pear-hoi-an/1.webp" /></div> -->
    </div>
  </div>
  <div class="view-more">
    <a href="../../pages/gallery.html" class=" kit-button-outline view-more-button button">Explore Gallery</a>
  </div>
</section>


<!-- slide-project -->
<script src="/js/plugins/swiper/index.js"></script>
<script src="/js/plugins/base-path.js"></script>
<script src="/js/components/slide-project.js"></script>