<link rel="stylesheet" href="../../css/component/footer.css" />
<section class="footer px py">
  <div class="footer-container">
    <!-- Left Menu -->
    <div class="footer-column">
      <ul class="footer-menu">
        <li>ABOUT</li>
        <li>GALLERY</li>
        <li><a href="../../pages/experience.html">EXPERIENCES</a></li>

        <li>CONTACT US</li>
      </ul>
    </div>

    <!-- Center Info -->

    <div class="footer-column ">
      <div class="footer-block footer-column-2">
        <div>
          <h3 class="footer-heading">Address</h3>
          <p class="footer-text">
            25 Nguyen Huu Tho<br>
            Tan Hung Ward, Ho Chi Minh City
          </p>
        </div>
        <div>
          <h3 class="footer-heading">Follow Us</h3>
          <div class="footer-social">
            <a href="https://www.facebook.com/abeldangphotographer" target="_blank" rel="noopener noreferrer"
              class="footer-icon">
              <img class="icon" src="../../assets/svg/logo social/fb.svg" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/abeldang.photography" target="_blank" rel="noopener noreferrer"
              class="footer-icon">
              <img class="icon" src="../../assets/svg/logo social/ig.svg" alt="Instagram">
            </a>
          </div>

        </div>
      </div>


      <div class="footer-block">
        <h3 class="footer-heading">Get in touch</h3>
        <div class="footer-input-wrapper">
          <input type="email" placeholder="Leave your email to get in touch" class="footer-input" />
          <span class="footer-arrow">
            <svg class="icon" width="30" height="30" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M10.75 13L13.75 10M13.75 10L10.75 7M13.75 10L6.25 10M19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10Z"
                stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-logo">
    <img src="../../assets/svg/logo/logo-footer.svg" alt="">
  </div>

  <!-- Bottom -->
  <div class="footer-bottom">
    <div>ARCHITECTUREAL PHOTOGRAPHY FOR RESORT</div>
    <div>© 2025 - ABEL DANG PRODUCTION</div>
    <div>DESIGNED BY THONGRETINA</div>
  </div>
</section>