.container {
  max-width: 1920px;
  margin: auto;
}

.title {
  text-align: center;
}

.title h1 {
  font-family: var(--font-heading);
  font-weight: 600;
  font-size: var(--font-size-58);
  margin: 0;
}

.title p {
  font-weight: 300;
  font-size: var(--font-size-30);
  margin: 16px 0 0;
  line-height: 1.5;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* mỗi hàng 2 item cố định */
  column-gap: var(--gap, 40px);
  /* khoảng cách ngang giữa item */
  row-gap: var(--spacing-y, 60px);
  /* khoảng cách dọc giữa các hàng */
  margin-top: var(--spacing-y, 60px);
  /* khoảng cách với phần trên */
}

/* .products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: var(--gap, 40px);
  row-gap: var(--spacing-y, 60px);
  margin-top: var(--spacing-y, 60px);
} */


.product-item {
  flex: 1;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.image-container {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1366 / 778;
}

.image-container img {
  width: 100%;
  object-fit: cover;
  transform-origin: center top;
  border-radius: var(--border-radius, 10px);
  width: 100%;
  aspect-ratio: 1366 / 778;
  max-height: calc(min(100vw, 1920px) * 778 / 1366);
  transition: border-radius 0.5s ease;
}

.product-description {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.resort-name {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: var(--font-size-25);
  text-transform: uppercase;
  line-height: 30px;
}

.location {
  font-weight: 300;
  font-size: var(--font-size-23);
  line-height: 30px;
}

/* Remove unused .grid and .project-card styles if not needed */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: var(--gap);
  margin: 0 auto;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-card img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.project-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-location);
}

.project-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: var(--font-resort);
}

.expand-active {
  top: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) scale(1) !important;
  width: 100vw !important;
  max-width: 1920px !important;
  height: 100vh !important;
  border-radius: 0 !important;
  z-index: 9999 !important;
  position: fixed !important;
  scale: 1 !important;
  filter: brightness(1) !important;
}

.image-container.expand-active img {
  border-radius: 0px;
}

.load-more-button {
  margin-top: var(--spacing-y);
}



@media (max-width: 768px) {
  .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .product-description {
    margin-top: 0px;
  }
}